{
  "parser": "@typescript-eslint/parser",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "semi": "off",
    "comma-dangle": "off",
    "linebreak-style": ["error", "windows"],
    "eol-last": ["error", "windows"],
    "quotes": [1, "single", { "avoidEscape": true }]
  },
  "extends": ["eslint:recommended", "google"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true
    }
  },
  "plugins": ["prettier"]
}
